.offers {
  padding-top: 82px;
  padding-bottom: 128px;

  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-bottom: 28px;

    @include respond-from-min($desktop) {
      margin-bottom: 58px;
    }
  }

  .slider {
    padding-top: 30px;
    padding-bottom: 13px;

    &__wrapper {
      max-width: 1192px;
      width: calc(100vw - 20px);
    }
  }
}
