.testimonials {
  padding-top: 62px;
  padding-bottom: 114px;

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 49px;
  }

  .slider__wrapper {
    @include respond-from-min($desktop) {
      width: 475px;
    }
  }

}
