<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title title-h1">
      To travel is to live
    </h1>

    <p class="hero__subtitle subtitle-1">
      You Don't Need Magic to Disappear. All you need is a destination.
    </p>

    <div class="hero__btns-wrap">
      <a href="#" class="btn">Show on the map</a>

      <a href="#" class="btn btn--empty">More info</a>
    </div>
  </div>

  <form class="search" id="search">
    <div class="container">
      <p class="search__title">
        FIND YOUR
        <b>HOLYDAYS</b>
      </p>

      <label class="search__wrap">
        <span class="search__name">
          where
        </span>

        <input
          class="field field--earth"
          type="text"
          name="where"
          placeholder="distination"
        >
      </label>

      <label class="search__wrap">
        <span class="search__name">
          when
        </span>

        <input
          class="field field--calendar js-datepicker"
          type="text"
          name="when"
          placeholder="select date"
        >
      </label>

      <button class="search__btn btn" type="submit" name="button">Search</button>
    </div>
  </form>
</section>
