<section class="holidays">
  <div class="container">
    <h2 class="holidays__title title-h2">
      Holidays Type
    </h2>

    <p class="holidays__subtitle subtitle-2">
      get explore your dream to travel the world!
    </p>

    <ul class="holidays__list">
      <li class="holidays__item">
        <i class="holidays__img-wrap">
          //= ../../svg/cruise.html
        </i>

        <h3 class="holidays__name title-h3">
          Cruise
        </h3>
      </li>

      <li class="holidays__item">
        <i class="holidays__img-wrap">
          //= ../../svg/city.html
        </i>

        <h3 class="holidays__name title-h3">
          City Breaks
        </h3>
      </li>

      <li class="holidays__item">
        <i class="holidays__img-wrap">
          //= ../../svg/hearts.html
        </i>

        <h3 class="holidays__name title-h3">
          Honeymoon
        </h3>
      </li>

      <li class="holidays__item">
        <i class="holidays__img-wrap">
          //= ../../svg/compas.html
        </i>

        <h3 class="holidays__name title-h3">
          Adventure
        </h3>
      </li>

      <li class="holidays__item">
        <i class="holidays__img-wrap">
          //= ../../svg/palms.html
        </i>

        <h3 class="holidays__name title-h3">
          Safari
        </h3>
      </li>

      <li class="holidays__item">
        <i class="holidays__img-wrap">
          //= ../../svg/boat.html
        </i>

        <h3 class="holidays__name title-h3">
          Beach
        </h3>
      </li>
    </ul>
  </div>
</section>
