<section class="offers">
  <h2 class="offers__title title-h2">
    Special Offers
  </h2>

  <p class="offers__subtitle subtitle-2">
    Best 2014 packages where people love to stay!
  </p>

  <div class="slider js-slider">
    <div class="slider__wrapper">
      <div class="slider__carriege">
        <div class="slider__item">
          <a href="#" class="card">
            <div class="card__img-wrap">
              <img class="card__img" src="/img/temp/offer-1.jpg" alt="">
            </div>

            <div class="card__info">
              <h3 class="card__title">
                Statue of liberty - USA
              </h3>

              <p class="card__text">
                New Destination!
              </p>
            </div>
          </a>
        </div>

        <div class="slider__item">
          <a href="#" class="card">
            <div class="card__img-wrap">
              <img class="card__img" src="/img/temp/offer-2.jpg" alt="">
            </div>

            <div class="card__info">
              <h3 class="card__title">
                Spectacular Seychelles
              </h3>

              <p class="card__text">
                New Destination!
              </p>
            </div>
          </a>
        </div>

        <div class="slider__item">
          <a href="#" class="card">
            <div class="card__img-wrap">
              <img class="card__img" src="/img/temp/offer-3.jpg" alt="">
            </div>

            <div class="card__info">
              <h3 class="card__title">
                Hong Kong & Macau
              </h3>

              <p class="card__text">
                Bonus Extras!
              </p>
            </div>
          </a>
        </div>

        <div class="slider__item">
          <a href="#" class="card">
            <div class="card__img-wrap">
              <img class="card__img" src="/img/temp/offer-4.jpg" alt="">
            </div>

            <div class="card__info">
              <h3 class="card__title">
                Vietnam Highlights
              </h3>

              <p class="card__text">
                New Destination!
              </p>
            </div>
          </a>
        </div>

        <div class="slider__item">
          <a href="#" class="card">
            <div class="card__img-wrap">
              <img class="card__img" src="/img/temp/offer-5.jpg" alt="">
            </div>

            <div class="card__info">
              <h3 class="card__title">
                Spectacular Seychelles
              </h3>

              <p class="card__text">
                New Destination!
              </p>
            </div>
          </a>
        </div>

        <div class="slider__item">
          <a href="#" class="card">
            <div class="card__img-wrap">
              <img class="card__img" src="/img/temp/offer-6.jpg" alt="">
            </div>

            <div class="card__info">
              <h3 class="card__title">
                Dubai
              </h3>

              <p class="card__text">
                New Destination!
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
