<section class="testimonials">
  <h2 class="testimonials__title title-h2">
    Happy Clients
  </h2>

  <p class="testimonials__subtitle subtitle-2">
    what customer say about us and why love our services!
  </p>

  <div class="slider js-slider">
    <div class="slider__wrapper">
      <div class="slider__carriege">
        <div class="slider__item">
          <article class="review">
            <p class="review__text simple-text">
              Lorem Ipsum is simply dummy text of the printing and typese tting industry. Lorem Ipsum has been the industry's.
            </p>

            <footer class="review__footer">
              <h3 class="review__author">
                Client Name
              </h3>

              <address class="review__location">
                United States
              </address>
            </footer>
          </article>
        </div>

        <div class="slider__item">
          <article class="review">
            <p class="review__text simple-text">
              Lorem Ipsum is simply dummy text of the printing and typese tting industry. Lorem Ipsum has been the industry's.
            </p>

            <footer class="review__footer">
              <h3 class="review__author">
                Client Name
              </h3>

              <address class="review__location">
                United States
              </address>
            </footer>
          </article>
        </div>

        <div class="slider__item is-active">
          <article class="review">
            <p class="review__text simple-text">
              Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard dummy text ever hen an with new version look.
            </p>

            <footer class="review__footer">
              <h3 class="review__author">
                Client Name
              </h3>

              <address class="review__location">
                United States
              </address>
            </footer>
          </article>
        </div>

        <div class="slider__item">
          <article class="review">
            <p class="review__text simple-text">
              Lorem Ipsum is simply dummy text of the printing and typese tting industry. Lorem Ipsum has been the industry's.
            </p>

            <footer class="review__footer">
              <h3 class="review__author">
                Client Name
              </h3>

              <address class="review__location">
                United States
              </address>
            </footer>
          </article>
        </div>

        <div class="slider__item">
          <article class="review">
            <p class="review__text simple-text">
              Lorem Ipsum is simply dummy text of the printing and typese tting industry. Lorem Ipsum has been the industry's.
            </p>

            <footer class="review__footer">
              <h3 class="review__author">
                Client Name
              </h3>

              <address class="review__location">
                United States
              </address>
            </footer>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
