.header {
  background-color: #ffffff;

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-100%);
    display: block;
    background-color: #2c3e50;
    transition: top 0.3s, transform 0.3s;

    &.is-open {
      top: 368px;
      transform: translateY(0);

      @media only screen and (min-width: 768px) {
        top: 82px;
      }
    }

    @media only screen and (min-width: 1200px) {
      position: static;
      top: 0;
      transform: translateY(0);
      display: block;
    }

    & > .container {
      padding: 0;

      @media only screen and (min-width: 768px) {
        display: flex;
      }

      @media only screen and (min-width: 1200px) {
        justify-content: space-between;
        padding-right: 16px;
      }
    }
  }

  &__bottom {
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    @media only screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    & > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (min-width: 1200px) {
        align-items: center;
      }
    }
  }

  &__search {
    position: relative;
    width: 42px;
    height: 42px;
    border: 3px solid #2c3e50;
    border-radius: 50%;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 250.313 250.313' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76 c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911 c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38 c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146 c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236 C170.146,140.044,140.043,170.146,102.911,170.146z' fill='%232c3e50' /%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s, background-image 0.3s;

    &:hover {
      border-color: #1dd2af;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 250.313 250.313' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76 c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911 c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38 c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146 c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236 C170.146,140.044,140.043,170.146,102.911,170.146z' fill='%231dd2af' /%3E%3C/g%3E%3C/svg%3E");
    }

    @media only screen and (min-width: 768px) {
      margin-right: 38px;
      margin-left: 15px;
    }

    @media only screen and (min-width: 1200px) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
