.auth-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  box-shadow: 0 -1px 0 0 #17202a;

  @media only screen and (min-width: 1200px) {
    box-shadow: none;
  }

  &__el {
    display: block;
    width: 50%;
    box-shadow: 0 1px 0 0 #17202a, 0 2px 0 0 #374d63, 1px 0 0 #17202a, 2px 0 0 #374d63;

    @media only screen and (min-width: 768px) {
      width: auto;
      box-shadow: 1px 0 0 #17202a, 2px 0 0 #374d63;
    }

    @media only screen and (min-width: 1200px) {
      box-shadow: 1px 0 0 #17202a, 2px 0 0 #374d63;
    }
  }

  &__tablet-text {
    display: none;

    @media only screen and (min-width: 1200px) {
      display: inline;
    }
  }

  &__link {
    display: block;
    max-width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 19px;
    padding-right: 18px;
    overflow: hidden;
    font-size: 15px;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ffffff;
    transition: color 0.3s;

    &:hover {
      color: #1dd2af;

      .marked-text:after {
        opacity: 1;
      }
    }

    &--list,
    &--user {
      padding-left: 38px;
      background-position: 16px center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }

    &--user {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 438.529 438.529'%3E%3Cg%3E%3Cg%3E%3Cpath d='M219.265,219.267c30.271,0,56.108-10.71,77.518-32.121c21.412-21.411,32.12-47.248,32.12-77.515 c0-30.262-10.708-56.1-32.12-77.516C275.366,10.705,249.528,0,219.265,0S163.16,10.705,141.75,32.115 c-21.414,21.416-32.121,47.253-32.121,77.516c0,30.267,10.707,56.104,32.121,77.515 C163.166,208.557,189.001,219.267,219.265,219.267z' fill='%23fff'/%3E%3Cpath d='M419.258,335.036c-0.668-9.609-2.002-19.985-3.997-31.121c-1.999-11.136-4.524-21.457-7.57-30.978 c-3.046-9.514-7.139-18.794-12.278-27.836c-5.137-9.041-11.037-16.748-17.703-23.127c-6.666-6.377-14.801-11.465-24.406-15.271 c-9.617-3.805-20.229-5.711-31.84-5.711c-1.711,0-5.709,2.046-11.991,6.139c-6.276,4.093-13.367,8.662-21.266,13.708 c-7.898,5.037-18.182,9.609-30.834,13.695c-12.658,4.093-25.361,6.14-38.118,6.14c-12.752,0-25.456-2.047-38.112-6.14 c-12.655-4.086-22.936-8.658-30.835-13.695c-7.898-5.046-14.987-9.614-21.267-13.708c-6.283-4.093-10.278-6.139-11.991-6.139 c-11.61,0-22.222,1.906-31.833,5.711c-9.613,3.806-17.749,8.898-24.412,15.271c-6.661,6.379-12.562,14.086-17.699,23.127 c-5.137,9.042-9.229,18.326-12.275,27.836c-3.045,9.521-5.568,19.842-7.566,30.978c-2,11.136-3.332,21.505-3.999,31.121 c-0.666,9.616-0.998,19.466-0.998,29.554c0,22.836,6.949,40.875,20.842,54.104c13.896,13.224,32.36,19.835,55.39,19.835h249.533 c23.028,0,41.49-6.611,55.388-19.835c13.901-13.229,20.845-31.265,20.845-54.104C420.264,354.502,419.932,344.652,419.258,335.036 z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      transition: color 0.3s, background-image 0.3s;

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 438.529 438.529'%3E%3Cg%3E%3Cg%3E%3Cpath d='M219.265,219.267c30.271,0,56.108-10.71,77.518-32.121c21.412-21.411,32.12-47.248,32.12-77.515 c0-30.262-10.708-56.1-32.12-77.516C275.366,10.705,249.528,0,219.265,0S163.16,10.705,141.75,32.115 c-21.414,21.416-32.121,47.253-32.121,77.516c0,30.267,10.707,56.104,32.121,77.515 C163.166,208.557,189.001,219.267,219.265,219.267z' fill='%231dd2af'/%3E%3Cpath d='M419.258,335.036c-0.668-9.609-2.002-19.985-3.997-31.121c-1.999-11.136-4.524-21.457-7.57-30.978 c-3.046-9.514-7.139-18.794-12.278-27.836c-5.137-9.041-11.037-16.748-17.703-23.127c-6.666-6.377-14.801-11.465-24.406-15.271 c-9.617-3.805-20.229-5.711-31.84-5.711c-1.711,0-5.709,2.046-11.991,6.139c-6.276,4.093-13.367,8.662-21.266,13.708 c-7.898,5.037-18.182,9.609-30.834,13.695c-12.658,4.093-25.361,6.14-38.118,6.14c-12.752,0-25.456-2.047-38.112-6.14 c-12.655-4.086-22.936-8.658-30.835-13.695c-7.898-5.046-14.987-9.614-21.267-13.708c-6.283-4.093-10.278-6.139-11.991-6.139 c-11.61,0-22.222,1.906-31.833,5.711c-9.613,3.806-17.749,8.898-24.412,15.271c-6.661,6.379-12.562,14.086-17.699,23.127 c-5.137,9.042-9.229,18.326-12.275,27.836c-3.045,9.521-5.568,19.842-7.566,30.978c-2,11.136-3.332,21.505-3.999,31.121 c-0.666,9.616-0.998,19.466-0.998,29.554c0,22.836,6.949,40.875,20.842,54.104c13.896,13.224,32.36,19.835,55.39,19.835h249.533 c23.028,0,41.49-6.611,55.388-19.835c13.901-13.229,20.845-31.265,20.845-54.104C420.264,354.502,419.932,344.652,419.258,335.036 z' fill='%231dd2af'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--list {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' version='1.1' height='16' viewBox='0 0 64 64'%3E%3Cg%3E%3Cpath fill='%23fff' d='m7.119,58.267c0,2.249 0.887,3.562 1.632,4.269 1.358,1.288 3.058,1.388 3.508,1.388 0.058,0 0.095-0.002 0.106-0.003h38.836c2.043,0 3.309-0.841 4.011-1.547 1.613-1.625 1.645-3.871 1.643-4.106v-45.245c0-0.265-0.054-0.527-0.156-0.775-0.104-0.249-0.252-0.474-0.44-0.661l-10.991-10.991c-0.188-0.188-0.413-0.337-0.662-0.44-0.248-0.103-0.512-0.156-0.774-0.156h-31.467c-2.036,0-3.246,0.889-3.901,1.634-1.501,1.706-1.405,4.091-1.345,4.761v51.872zm35.695-54.208h0.175l9.315,9.315-7.488,.002c-0.004,0.012-0.863,0.012-1.422-0.52-0.386-0.366-0.58-0.992-0.58-1.863v-6.934zm-31.301,.255c0.056-0.063 0.224-0.256 0.853-0.256h26.39v6.936c0,2.524 1.001,4.006 1.84,4.805 1.598,1.52 3.64,1.638 4.191,1.638 0.068,0 0.114-0.002 0.132-0.003h7.877v40.82c-0.035,1.607-1.21,1.607-1.594,1.607l-38.942,.003c-0.006,0-0.456-0.03-0.715-0.275-0.317-0.301-0.364-0.958-0.364-1.322v-51.976c0-0.087-0.006-0.174-0.017-0.26-0.044-0.339-0.007-1.313 0.349-1.717z'/%3E%3C/g%3E%3C/svg%3E");
      transition: color 0.3s, background-image 0.3s;

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' version='1.1' height='16' viewBox='0 0 64 64'%3E%3Cg%3E%3Cpath fill='%231dd2af' d='m7.119,58.267c0,2.249 0.887,3.562 1.632,4.269 1.358,1.288 3.058,1.388 3.508,1.388 0.058,0 0.095-0.002 0.106-0.003h38.836c2.043,0 3.309-0.841 4.011-1.547 1.613-1.625 1.645-3.871 1.643-4.106v-45.245c0-0.265-0.054-0.527-0.156-0.775-0.104-0.249-0.252-0.474-0.44-0.661l-10.991-10.991c-0.188-0.188-0.413-0.337-0.662-0.44-0.248-0.103-0.512-0.156-0.774-0.156h-31.467c-2.036,0-3.246,0.889-3.901,1.634-1.501,1.706-1.405,4.091-1.345,4.761v51.872zm35.695-54.208h0.175l9.315,9.315-7.488,.002c-0.004,0.012-0.863,0.012-1.422-0.52-0.386-0.366-0.58-0.992-0.58-1.863v-6.934zm-31.301,.255c0.056-0.063 0.224-0.256 0.853-0.256h26.39v6.936c0,2.524 1.001,4.006 1.84,4.805 1.598,1.52 3.64,1.638 4.191,1.638 0.068,0 0.114-0.002 0.132-0.003h7.877v40.82c-0.035,1.607-1.21,1.607-1.594,1.607l-38.942,.003c-0.006,0-0.456-0.03-0.715-0.275-0.317-0.301-0.364-0.958-0.364-1.322v-51.976c0-0.087-0.006-0.174-0.017-0.26-0.044-0.339-0.007-1.313 0.349-1.717z'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    .marked-text {
      position: relative;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #1dd2af;
        opacity: 0;
        content: '';
        transition: opacity 0.3s;
      }
    }
  }
}
