.soc-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  &__el {
    display: block;
    width: 80px;
    height: 80px;
    box-shadow: 1px 0 0 #17202a, 2px 0 0 #374d63;

    @include respond-from-min($tablet) {
      width: 41px;
      height: auto;

      &:nth-of-type(2n) {
        width: 48px;
      }

      &:first-of-type {
        box-shadow: -1px 0 0 #374d63,
          -2px 0 0 #17202a,
          1px 0 0 #17202a,
          2px 0 0 #374d63;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &:hover svg {
      fill: $active-color;
    }
  }

  &__icon,
  svg {
    width: 18px;
    height: 18px;
    fill: $white-color;
    transition: fill 0.3s;
  }

  &--alter {
    @include respond-from-min($tablet) {
      justify-content: flex-start;
    }

    .soc-list__el {
      width: auto;
      height: auto;
      box-shadow: none;

      &:not(:last-of-type) {
        margin-right: 31px;
      }

      @include respond-from-min($tablet) {
        justify-content: flex-start;
      }
    }
  }
}
