.btn {
  display: inline-block;
  padding: 14px 20px;
  border: 1px solid $active-color;
  border-radius: 4px;
  background-color: $active-color;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #17202a;
    color: $active-color;
  }

  @include respond-from-min($tablet) {
    font-size: 20px;
  }

  @include respond-from-min($desktop) {
    font-size: 20px;
  }

  &--empty {
    border-color: $white-color;
    background-color: transparent;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;

    &:hover {
      border-color: $active-color;
    }
  }
}
